.main-nav{
    position: relative;
    z-index: 999;
}
.navsection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 10px;
    background: #fff;
    box-shadow: 0 0 02px rgba(0,0,0,0.2) ;
}
.navsection h1{
    color: #ff4500;
    font-size: 1.4rem;
}
.navsection p{
    color: #808080;
}
.navbar{
    width: 100%;
    background: #ff4500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3px 10px;
    box-shadow: 0 0 02px rgba(0,0,0,0.2) ;
}
.navbar .left-side .navlist{
    list-style: none;
}
.navbar .left-side .navlist li{
    display: inline-block;
}
.navbar .left-side .navlist li a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 18px;
    color: #fff;
}
.navbar .right-side{
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.navbar.sticky{
    position: fixed;
    top: 0;
}
.user-cart{
    font-size: 1.2rem;
    position: relative;
}
.user-cart span{
    position: absolute;
    top: 4px;
    right: 10px;
    display: block;
    background: #fff;
    width: 15px;
    height: 15px;
    text-align: center;
    color: #ff4500;
    border-radius: 50%;
    font-size: .8rem;
    font-weight: bold;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}


@media screen and (max-width:768px) {
    .navbar .left-side .navlist,.navbar .right-side{
        display: none;
    }
}